<h1>Bookmark Manager</h1>

<form action='/bookmarks' method='get'>
<input type="submit" value="See bookmarks">
</form>

<form action='/bookmarks' method='get'>
<input type="submit" value="Delete bookmarks">
</form>

<form action='/bookmarks' method='get'>
<input type="submit" value="Update bookmarks">
</form>